doctype html
html
  head
    title Real time web chat
    script(src='/socket.io/socket.io.js')
    script(src='/chat.js', type='module')
  body
    #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
    .controls
      label(for='name') Name:
      input#name(type='text', style='width:350px;')
      br
      label(for='field') Message:
      input#field(type='text', style='width:350px;')
      input#send(type='button', value='send')
